.post {
    width: 100%;
    max-width: 31vw;
    border: 1px solid rgba(148, 143, 143, 0.209);
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(46, 46, 46, 0.209);
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 330px;
    overflow: scroll;
}

.post__title {
    font-size: 24px;
}

.post__item {
    opacity: 0.8;
    border-bottom: 1px solid rgb(208, 203, 203);
    padding-bottom: 13px;
}

.profile__left {
    width: 100%;
    max-width: 48%;
}

.profile__content {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

}