.nav {
    background-color: rgb(15, 15, 15);
    border-radius: 10px;
    grid-area: nav;
    padding-top: 10px;
}

.nav ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
}

.nav ul a {
    width: 100%;
    height: 40px;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgba(46, 46, 46, 0.209);
}